/*--------------base-------
*/

html, 
body {
    height: 100%;
    color: #121212;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    -webkit-font-smoothing: antialiased;
}

/*typography bootstrap overrides*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    line-height: 1;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 27px;

}
h4{
    font-size: 24px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 13px;
}
p{
    line-height: 25px;
    font-weight: 400;
}
a {
    background: transparent;
    outline: none; 
    text-decoration: none;	
    -webkit-transition: 0.4s cubic-bezier(0.25,.46,.45,.94);
    transition: 0.4s cubic-bezier(0.25,.46,.45,.94);
    -webkit-transition-property: background-color,color;
    transition-property: background-color,color;
}
a:active,
a:hover,
a:focus {
    outline: 0; 
    /*color: #35bdf6 !important;*/
    text-decoration: none;	  
}
.padding-80{
    padding: 80px 0;
}
.padding-50{
    padding: 50px 0;
}
.margin-btm-40{
    margin-bottom: 40px;
}
.margin-btm-20{
    margin-bottom: 20px;
}
/*****************home ********
******************************/
#home {
    background-color: #444;
    background-position: center 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    background-image: url(../img/macbook.jpg);
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    z-index: 1;
}
.parallax-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-color: rgba(44,62,80,0.6);
    z-index: 2;
}
.home-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 3;
}
h1.slide-logo{
    color: #47ABED;
    margin-top:0;
    font-weight: bold !important;
    margin-bottom: 40px;
    font-weight: 300;
    text-transform: uppercase;
}
h2.slide-btm-text{
    font-family: 'Open Sans', sans-serif !important;
    text-align: center;
    margin: 30px 0;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
.main-flex-slider{
    text-align: center;
    overflow: hidden;
}

.main-flex-slider h1{
    font-size: 5em;
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 60px;
    margin:0;
}

/*home arrow down*/
.home-arrow-down{
    margin-top:60px;
    margin-bottom: 30px;
}


/*********************
bootstrap navbar overrides
*************************/

.navbar-default {
    border-color: transparent;
    border-bottom: none;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 4;
    background-color: #fff;
    opacity: .95;
    -webkit-box-shadow: 0 1px 5px rgba(71, 171, 237, 0.3);
    -moz-box-shadow:0 1px 5px rgba(71, 171, 237, 0.3);
    box-shadow:0 1px 5px rgba(71, 171, 237, 0.3);
}
.navbar-default .navbar-nav > li > a {
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
    margin: 0 10px;
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #47ABED !important;
    background-color: transparent;
    border-radius: 5px;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #47ABED !important;
    background-color: transparent;
    border: 2px solid #47ABED;
    border-radius: 5px;
    padding: 13px 20px;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
    color: #47ABED !important;
    background-color: transparent;
}
.navbar-default .navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    color:#000;
    margin:0px;
    font-size: 32px;
    font-family: 'Dosis', sans-serif !important;
}
.navbar-brand:hover{
    color: #000 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #47abed;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #47abed;
}

.navbar-default .navbar-toggle:hover {
    background-color: #47abed;
}

#logo {
    max-width: 60px;
    min-width: 35px;
    width: 100%;
    margin-top: -20px;
    margin-left: 30px;
    border: 2px solid #47abed;
    border-radius: 50%
}

#logo:hover {
    -webkit-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

/***************buttons*****************************/
.btn {
    font-weight: 600;
    font-size: 16px;
    text-shadow: none !important;
    -webkit-text-shadow: none !important;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    letter-spacing: 1px;
    padding: 15px;
    border: 2px solid #47ABED;
    color: #47ABED;
}

.btn-small {
    font-size: 12px;
    padding: 5px 8px;
}

.btn:hover,.btn:focus {
    outline: 0;
}

.btn:hover,
.btn:focus,
.btn-theme-color {
    background-color: #47ABED;
    color: #fff !important;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}


/*************
**headings****/

.section-heading{
    margin-bottom: 40px;
}
.section-heading .small{
    opacity: .75;
    margin-bottom: 0px;
}
.section-heading .large{
    opacity: 1;
}
.section-heading .section-title{
    color: #47ABED;
    font-weight: bold !important;
    text-transform: uppercase;
}
.section-heading .small span{
    padding-bottom: 5px;
    border-bottom: 1px solid #666;
    font-size: 14px;
    font-weight: 600;
}
.section-heading .large{
    font-weight: 400;
    font-size: 38px;
}
/*******************
page-head section
*******************/
#page-head-bg{
    background: url('../img/bread-bg.jpg') no-repeat;
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    vertical-align: middle;
    position: relative;
    padding: 100px 0;
    text-align: center;
}

#page-head-bg h1{
    margin: 0;
    text-transform: uppercase;
    color:#333;
    font-weight: 400;
    font-size: 54px;
}

/****************************
About section
****************************/
.about-box{
    margin-bottom: 40px;
}
.about-box-icon{
    float: left;
}
.about-box-icon i{
    color:#35bdf6;
    font-size: 44px;
}
.about-box-text{
    padding-left: 70px;
    padding-top: 0px;
}

.about-section-more{
    margin-top:30px;
    margin-bottom: 0px;
}
.about-more-info{
    margin-bottom: 30px;
}
.about-more-info p:first-letter{
    color:#35bdf6;
    font-weight: 500;
    font-size: 24px;
    margin-right: 2px;
}
.skills-wrapper{
    margin-bottom: 30px;
}
/*progress bar*/
h3.heading-progress {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 0px;
}
.progress {
    height: 15px;
    line-height: 10px;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: #ddd;
    border-radius: 5px;
}
.progress-bar {
    line-height: 10px;
    background:#47ABED;
    box-shadow: none;
    -webkit-box-shadow: none;
}
/*purchase now section*/
.purchase-now{
    background: url('../img/bread-bg.jpg') no-repeat center center fixed;
    width:100%;
    padding: 70px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.purchase-now h1{
    margin: 0px;
    font-weight: 400;
    text-transform: uppercase;
    color:#333;
}
.purchase-now .btn-theme-color{
    float: right;
}


#email {
    color: #47ABED;
    font-weight: bold;
}

/*********************************
          our work section
**********************************/

.work-section-1{
    margin-bottom: 30px;
}
/*mix it up filter*/
#grid .mix{
    display: none;
    opacity: 0;
}

.portfolio-filters{
    margin-bottom: 30px;
    list-style: none;
    padding: 0;
}
.portfolio-filters li{
    display:inline-block;
    border: 2px solid #47ABED;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 12px ;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
    color:#47ABED;
    border-radius: 5px;
}
.portfolio-filters li:hover{
    background-color: #47ABED;
    color:#fff;
    border-color:#47ABED;
}
.portfolio-filters li.active{
    background-color: #47ABED;
    color:#fff;
    border-color:#47ABED;
}



/***image hover****/

.image-wrapper {
    position: relative;
}

.image-wrapper:first-child,
.image-wrapper:nth-child(5) {
    border: 1px solid #E9E9E9;
}

.image-wrapper img{
    width:100%;
    height: auto;
}
.image-overlay{
    position: absolute;
    text-align: center;
    background: rgba(71, 171, 237, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.image-overlay p {
    position: absolute;
    top: 45%;
    left: 45%;
    color: #47ABED;
    margin: -38px 0 0 -38px;
    width: 100px;
    height: 100px;
    padding-top: 36px; 
    background: #fff;
    border-radius: 50%;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; 
}
.image-wrapper:hover .image-overlay{
    opacity: 1;
}

.work-sesc{
    padding: 15px 10px;
    border:1px solid #E9E9E9;
    border-top: none;
    text-align: center;
}

.work-sesc p { 
    line-height: 10px;
    margin-bottom: 6px;
    text-transform: capitalize;
    color: rgba(71, 171, 237, 1); 
    font-weight: 500;   
}

.work-sesc strong {
    font-weight: bolder;
    color: #3A8BC0;
}

.work-sesc span {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

/*****************team*******************/
.work-section-2{
    background-color: #f7f7f7;
    padding-top:30px;
    padding-bottom: 20px;
}
.team-line{
    text-align: center;
}
.team-line img{
    margin:20px 0;
    vertical-align: middle;
    border-radius: 4px;
    position: relative;
    top: 0px;

    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: top 0.15s linear;
    -moz-transition: top 0.15s linear;
    -ms-transition: top 0.15s linear;
    -o-transition: top 0.15s linear;
    transition: top 0.15s linear; 
}
.team-line img:hover{
    top: -5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.5);
}


/*****tooltip************/

.tooltip{
    font-size: 16px;
    line-height: 2;
}
.tooltip.top .tooltip-inner {
    background-color:#35bdf6;
    padding: 6px 12px;
    font-size: 13px;
}
.tooltip.top .tooltip-arrow {
    border-top-color:#35bdf6;
}

/***footer*/
#footer{
    padding: 30px 0;
    background-color: rgba(0,0,0,0.8);

}
#footer .copyright p {
    color:#fff;
    font-weight: 600;
    margin-bottom: 0;
}
.footer-nav ul {
    float:right;
    margin: 0;
    padding: 0;
}
.footer-nav ul li a {
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-right: 15px;
}

#copyright {
    color: #47ABED;
    font-weight: 700;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter-square:hover {
    color: #00aced;
}

.fa-github-square:hover {
    color: #878787;
}

/* portfolio header
---------------------------------*/
.portfolio_header {
    padding-top: 8rem;
    background: rgba(71, 171, 237, 0.7);
}

.portfolio_header .port h1 {
    font-size: 4.5rem;
    letter-spacing: 7px;
    margin-top: 1rem;
    line-height: 1;
    text-transform: uppercase;
    color: #2D6C95;
} 

.portfolio_header .port p {
    color: #fff;
    font-size: 2rem;
    margin: 0;
    padding-top: 1rem;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-weight: bold;
} 

.portfolio_header img {
    margin-left: 120px;
    width: 280px;
}

.portfolio-nav .nav-btn {
    text-align: right;
}

.portfolio-nav .button {
    display: inline-block;
    text-align: center;
    padding: 0;
    line-height: 34px;
    max-width: 40px;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
}

.portfolio-nav .button:hover {
    border-color: #47ABED;
    color: #47ABED;
}

.portfolio-nav .button,
.back {
    color: #B7C6C9;
    font-size: 18px;
    border: 3px solid #DDE4E6;
}

.back {
    border-radius: 30px;
}

.back:hover {
    border-color: #47ABED;
    background: #fff;
    color: #47ABED !important;
}

#project-desc {
    margin-bottom: 55px;
}

#project-section {
    margin-bottom: 55px;
}

#project-content {
    margin-bottom: 60px;
}

#project-full {
    margin-bottom: 50px;
}

#project-full .wrapper {
    width: 99%;
    margin: 0 auto;
}

#project-desc h3,
#project-section h3,
#project-content h3,
#project-full h3 {
    margin-top: 0;
    color: #47ABED;
    text-transform: uppercase;
}

#project-section .portfolio-img {
    margin-bottom: 15px;
}

#project-full h3 {
    margin-bottom: 20px;
}

#project-full p {
    margin-top: 15px;
}

.tags {
    margin-top: 20px;
}

/**** Tags *****/
.tag {
    margin: 0 0 1em 0;
    padding: 5px;
    list-style: none;
}

.tag li {
    display: inline-block;
}


.tag a:hover {
    color: #fff;
    text-decoration: none;
}

.tag a {
    display: inline-block;
    line-height: 30px;
    font-size: 90%;
    position: relative;
    margin: 0 20px 8px 6px;
    padding: 0 13px 0 15px;
    background: #47ABED;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0 2px 2px 0;
    font-weight: bold;
}

.tag a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0px;
    left: -11px;
    width: 0;
    height: 0;
    border-right-color: #47ABED;
    border-style: solid;
    border-width: 15px 11px 15px 0;
}

.tag a:after {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

#demo {
    text-align: center;
    margin: 10px 0;
}

#demo .btn {
    padding-left: 40px;
    padding-right: 40px;
}

.padding-40 {
    padding: 40px 0;
}

.overview {
    list-style: none;
    padding-left: 15px;
}

.overview li {
    padding: 3px 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

.overview i {
    margin-right: 5px;
    color: #47ABED;
}



/****************responsive css 768px*********************/


@media(max-width:767px){
    .blog-more-desc .social-colored{
        width:100%;
        float: none;
        text-align: center;
        margin-bottom: 15px;
    }
    .blog-more-desc .col-sm-5{
        text-align: center !important;
    }
    .copyright{
        text-align: center;
        width:100%;
        margin-bottom: 15px;
    }
    .footer-nav{
        text-align: center;
    }
    .footer-nav ul{
        float:none;
    }
    .call-sec{
        width:100% !important;
        margin: 0 0 0 0 !important;
    }  

    .slide-btm-text{
        display: none;
    }
    #page-head-bg h1{
        font-size: 3em; 
    }
    .purchase-now{
        text-align: center !important;
    }
    .purchase-now h1{
        margin-bottom: 20px;
    }
    .purchase-now .btn-theme-color{
        float: none;
    }

}

@media (max-width: 992px){
    .portfolio_header img {
        display: none;
    }

    .portfolio_header {
        padding-top: 4.5rem;
    }

    .portfolio_header .port p {
        margin-bottom: 40px;
        font-size: 1.6rem;
    }

    .portfolio_header .port h1 {
        font-size: 3.8rem;
    }

}

@media(max-width:360px){

    .home-overlay .main-flex-slider h1{
        margin-bottom: 20px;
    }
    .main-flex-slider h1{
        font-size: 3.5em;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .home-arrow-down{
        margin-top: 30px;  
    }

}

/**portfolio single*/
#work-single{
    overflow: hidden;
}
.portfolio-slide{
    overflow: hidden;
}


/*iframe*/
iframe{
    width:100%;
    overflow: hidden;
}


/************************version v1.1 css************/

/*************parallax*************/
.parallax {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;

}

.services-section-2{
    background: url(../img/showcase-2.jpg);
}


/*****************v1.2 on 8 -11 -2014*******************/
.help-block ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.help-block ul li{
    color:red;
}

label span{
    color:red;
    margin-left: 5px;
}


/*******************easy pie chart*****************/
/*******************************easy pie charts skills***************************/
.easy-pie-chart-row{
    padding: 0;
}
.easy-pie-chart{
      position: relative;
     background-color: #fff;
     padding-bottom: 40px;
     padding-top: 80px;
}

.chart {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.chart span {
    line-height: 120px!important;
    text-align: center;
    font-weight: 700;
}
.progress-circle {
    display: inline-block;
    text-align: center;
    margin: 0 30px 0 0;
}
.progress-text {
    margin: 30px 0;
    color: #888;
    text-transform: uppercase;
    font-size:13px;
    font-weight: 700;
}
/**********back to top*************/
.scrollToTop{
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    position:fixed;
    bottom:0px;
    right:0px;
    z-index: 999999;
    display:none;
    background: #35bdf6;
    opacity:0.5;
    transition: all 0.3s;
}
.scrollToTop:hover{
    text-decoration:none;
    opacity: 1;
    color:#fff !important;
}